html {
    height: 100vh;
    background: url("../images/morty.jpg");
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
    background-attachment: fixed;
    scroll-behavior: smooth;
    text-align: center;
  }